$primary: hsl(100, 27%, 50%);

body {
    color: #222;
    background-color: #fafafa;
    font-size: 1rem;
}

a {
    color: #222;
}

.folder {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

    a {
        width: 200px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 3px;
        text-decoration: none;
        transition: 100ms;
        position: relative;
        
        &:hover {
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
            background-color: rgba(0, 0, 0, 0.01);
        }

        .thumb {
            width: 200px;
            height: 150px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &.svg {
                height: 50px;

                img {
                    height: 100%;
                }
            }
        }

        .name {
            font-size: 0.7em;
            word-wrap: anywhere;
            display: inline-block;
            line-height: 1.2;
            margin: 0.5em 0.4em 0.5em 1em;
        }
        
        .meta {
            font-size: 0.7em;
            position: absolute;
            right: 0;
            top: 0;
            display: none;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 0.4em;
            z-index: 2;
            text-align: right;
        }

        &:hover {
            .meta {
                display: block;
            }
        }
    }
}

.file {
    img {
        max-width: 95%;
        max-height: 92vh;
        margin: 0 auto;
        display: block;
        border: 0.3em solid #ddd;
        border-radius: 4px;
        box-shadow: 0 4px 2px #aaa;
    }
}

.breadcrumb {
    font-size: 1.1rem;
    max-width: 100%;
    overflow-x: auto;
    margin: 1em 0;

    ul {
        display: flex;
        padding: 0;
        margin: 1em 0;
    }

    li {
        display: flex;
    }
    
    li + li::before {
        color: #b5b5b5;
        content: "\0002f";
    }

    a {
        margin: 0 .3em;
        background-color: white;
        border: 1px solid #ccc;
        text-decoration: none;
        padding: 0.1em 0.4em;
        border-radius: 4px;
    }
}