$primary: hsl(100, 27%, 50%);

.folder {
    a {
        height: 120px;
        width: 150px;
        margin: 0.3em;
        box-sizing: border-box;
        padding: 0.4em;
        box-shadow: 0px 2px 1px rgba(0,0,0,0.2);
        background-color: rgba($primary, 0.4);
        border: 1px solid grey;
        border-radius: 3px;
        color: #222;
        text-decoration: none;
        float: left;
        transition: 100ms;
        position: relative;
        
        &:hover {
            box-shadow: 0px 4px 3px rgba(0,0,0,0.2);
            background-color: rgba($primary, 0.6);
        }

        img {
            max-width: 100%;
            max-height: 71%;
            margin: 0 auto 0.2em;
            display: block;
        }

        .name {
            font-size: 0.7em;
            word-wrap: anywhere;
            display: inline-block;
            line-height: 1.2;
        }
        
        .meta {
            font-size: 0.7em;
            position: absolute;
            right: 3px;
            top: 3px;
            display: none;
            border-radius: 4px;
            background-color: white;
            padding: 0.2em;
            text-align: right;
        }

        &:hover .meta {
            display: block;
        }
    }
}

.breadcrumb {
    ul {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0;
    }

    li {
        align-items: center;
        display: flex;
    }
    
    li + li::before {
        color: #b5b5b5;
        content: "\0002f";
    }

    a {
        margin: 0 .3em;
        background-color: rgba($primary, 0.2);
        border: 1px solid grey;
        border-radius: 3px;
        color: #222;
        text-decoration: none;
        padding: 0.02em 0.4em;
    }
}