body {
  color: #222;
  background-color: #fafafa; }

.folder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; }
  .folder a {
    color: #333;
    height: 170px;
    width: 200px;
    margin: 0.3em;
    box-sizing: border-box;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    float: left;
    transition: 100ms;
    position: relative;
    overflow: hidden; }
    .folder a:hover {
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
      background-color: rgba(0, 0, 0, 0.01); }
    .folder a .thumb {
      width: 100%;
      height: 79%;
      margin-bottom: 0.4em;
      overflow: hidden; }
      .folder a .thumb img {
        min-width: 100%;
        min-height: 100%; }
        .folder a .thumb img.svg {
          min-width: unset;
          display: block;
          margin: 0 auto; }
    .folder a .name {
      padding: 0 0.4em 0 1em;
      font-size: 0.7em;
      word-wrap: anywhere;
      display: inline-block;
      line-height: 1.2; }
    .folder a .meta {
      font-size: 0.7em;
      position: absolute;
      right: 0;
      top: 0;
      display: none;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 0.4em;
      z-index: 2;
      text-align: right; }
    .folder a:hover .meta {
      display: block; }

.file img {
  max-width: 95%;
  max-height: 92vh;
  margin: 0 auto;
  display: block;
  border: 0.3em solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 2px #aaa; }

.breadcrumb ul {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0; }

.breadcrumb li {
  align-items: center;
  display: flex; }

.breadcrumb li + li::before {
  color: #b5b5b5;
  content: "\0002f"; }

.breadcrumb a {
  color: #222;
  margin: 0 .3em;
  background-color: white;
  border: 1px solid #ccc;
  text-decoration: none;
  padding: 0.02em 0.4em; }
