<!DOCTYPE html>
<html>
    <head>
        <title>Cloud</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="height=device-height, initial-scale=1.0">

        <link rel=stylesheet type=text/css href="/static/main.css">
        <script src="/static/main.js"></script>
    </head>
    <body>
        <div class="breadcrumb">
            {% if breadcrumb %}
            <ul>
                {% for crumb in breadcrumb %}
                    <li><a href="{{ crumb.link }}">{{ crumb.name }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% block content %}{% endblock %}
    </body>
</html>
