{% extends 'base.html' %}

{% block content %}
<div class="folder">
    {% for folder in folders %}
    <a href="/{{ folder.path }}">
        <div class="thumb svg">
            <img src="/static/icons/folder.svg">
        </div>
        <div class="name">{{ folder.name }}</div>
    </a>
    {% endfor %}

    {% for file in files %}
    <a href="/{{ file.path }}">
        <div class="meta">{{ file.size }}<br>{{ file.type }}</div>
        <div class="controls"></div>
        {% if file.thumbnail %}
        <div class="thumb {{ file.thumb_ext }}">
            <img src="{{ file.thumbnail }}">
        </div>
        {% endif %}
        <span class="name">{{ file.name }}</span>
    </a>
    {% endfor %}
</div>
{% endblock %}