<section>
    {% for folder in folders %}
    <a href="/{{ folder.path }}">
        <div class="preview svg">
            <img src="/static/icons/folder.svg">
        </div>
        <div class="name">{{ folder.name }}</div>
    </a>
    {% endfor %}
</section>

<section>
    {% for file in files %}
    <a id="{{ file.id }}" href="/{{ file.path }}">
        <div class="meta">{{ file.size }}<br>{{ file.type }}</div>
        <div class="controls"></div>
        {% if file.preview_url %}
        <div class="preview">
            <img src="{{ file.preview_url }}">
        </div>
        {% endif %}
        <span class="name">{{ file.name }}</span>
    </a>
    {% endfor %}
</section>
